In [4]:
 # print 0 to 20 by using range
for temp in range(0,20):
    print(temp)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [8]:
# print range 10 to 20
for temp in range(10,21):
    print(temp, end=" ")

10 11 12 13 14 15 16 17 18 19 20

In [11]:
# Print number of items in the list by using 'len'
my_list = [10, 20, 14, 55, 43, 87, 76,]
print("Number of Items in the List2: ",len(my_list))

Number of Items in the List2:  8

In [12]:
#Artificial Intelligence
dom = "Artificial Intelligence"
print(dom)
for temp in dom :
    print(temp)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [26]:
#-Your Name-
#-Your Age-
#-Your Profession-
print("-your Name-")
print("-Your Age-")
print("-Your profession-")
#or 
print("Ranjith Prasath")
print(21)
print("Student")

-your Name-
-Your Age-
-Your profession-
Ranjith Prasath
21
Student

In [14]:
# Print yhis mixered datatype using Tuples
list1 = (1, 'Welcome', 2, 'Hope')
print((list1))

(1, 'Welcome', 2, 'Hope')

In [15]:
#Tuple1 = (0, 1, 2, 3)
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('Python', 'Hope')
Tuple3 = (Tuple1, Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('Python', 'Hope'))

In [23]:
# print Odd Numbers in the list
list4 = (20,10,16,19,25,1,276,188)
print(list4)
for temp in (list4) :
    if( temp % 2 == 1):
        print(temp ," is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19  is odd
25  is odd
1  is odd

In [24]:
# print Even numbers in the list
list4 = (20,10,16,19,25,1,276,188)
print(list4)
for temp in (list4) :
    if( temp % 2 == 0):
        print(temp ," is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20  is even
10  is even
16  is even
276  is even
188  is even